.logo {
    font-family: 'Zilla Slab Highlight', cursive;
}

.version {
    font-family: 'Zilla Slab Highlight', cursive;
}

.question, .choices, .rightAnswer, .wrongAnswer, .gameOver, .timer {
    display: none;
}

.startGame, .timer, .question, .choices, .rightAnswer, .wrongAnswer, .gameOver, .restart {
    font-family: 'Cutive Mono', monospace;
}

.startGame {
    border: solid 2px black;
    background-color: black;
    color: white;
    width: 10px;
    font-weight: 700;
    line-height: 50px;
}